@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div>
    @using (Html.BeginForm("Index", "CurrentUserName", FormMethod.Post,
                                new { @class = "form-inline" }))
    {
                
        <div class="form-group mx-sm-3 mb-2">
            <label for="username" class="sr-only">UserName</label>
            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Username">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
    }
</div>