@model SCbuggybits.Models.UserDetail

@if (Model.IsLoggedin)
{
    // Show UserName
    <li>
        <a href="#">Welcome, @Model.UserName</a>
    </li>
}
else
{
    <li><a href="/Login">Login</a></li>
}
